 <!--=====================================
Home Features
======================================-->  

<div class="ps-site-features">

    <div class="container">

        <div class="ps-block--site-features ps-block--site-features-2">

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-rocket"></i></div>
                <div class="ps-block__right">
                    <h4>Envio gratis</h4>
                    <p>Para compras mayores a S/. 99</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-sync"></i></div>
                <div class="ps-block__right">
                    <h4>Devolución</h4>
                    <p>Si los productos tienen problemas</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                <div class="ps-block__right">
                    <h4>Pago seguro</h4>
                    <p>Pago 100% seguro</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                <div class="ps-block__right">
                    <h4>24/7 disponible</h4>
                    <p>Para cualquier consulta</p>
                </div>
            </div>

        </div>

    </div>

</div><!-- End Home Features-->
